
.whish_container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 90vh;
    max-width: 300px;
    margin: 100px auto;
    padding: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.whish_p{
    position: relative;
    font-size: 12px;
    margin: 40px 0;
}
.whish_btn{
  width: 100%;
  background-color: #743e00;
  border-radius: 8px;
  color: white;
  margin-bottom: 20px;
  padding: 8px;
}
.whish_btn1{
  width: 100%;
  border: 1px solid #743e00;
  border-radius: 8px;
  padding: 8px;
}
.badge-p{
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
}
.activado{
  fill:brown;
}

@media screen and (min-width: 768px) {
  .whish_container {
      padding-top: 1.875rem;
      max-width: 31.25rem;
      
  }
  .account_form__group {
      
      width: 100%;
      max-width: 250px;
      display: flex;
      justify-content: center;
      }
  
  #whish_login-form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .p{
     margin-bottom: 10px;
     margin-top: 10px; 
  }
  .whish_h2{
      font-size: 20px;
  }}

  @media screen and (min-width: 1024px){
    .whish_container {
      padding-top: 5.625rem;
      max-width: 78.75rem;
      max-height: 31.25rem;
      margin: 11.875rem auto 0 auto ;
      
  }
  }
